define host {
    use                     linux-server
    host_name               {{ item.hostname }}
    alias                   {{ item.hostname }}
    address                 {{ item.ip }}
    hostgroups              linux-servers
}

define service {
    use                     generic-service
    host_name               {{ item.hostname }}
    service_description     PING
    check_command           check_ping!{{ item.ping_ms_warn | default(nagios_ping_ms_warn_threshold) }},{{ item.ping_loss_warn | default(nagios_ping_loss_warn_threshold) }}%!{{ item.ping_ms_crit | default(nagios_ping_ms_crit_threshold) }},{{ item.ping_loss_crit | default(nagios_ping_loss_crit_threshold) }}%
    check_interval          {{ item.check_interval | default(nagios_service_check_interval) }}
}

define service {
    use                     generic-service
    host_name               {{ item.hostname }}
    service_description     Current Load
    check_command           check_nrpe!check_load
    check_interval          {{ item.check_interval | default(nagios_service_check_interval) }}
}

define service {
    use                     generic-service
    host_name               {{ item.hostname }}
    service_description     Root Partition
    check_command           check_nrpe!check_disk
    check_interval          {{ item.check_interval | default(nagios_service_check_interval) }}
}